*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-75px{
    height: 75px;
    background-color: #001534;
}

.c-square{
    max-width: 850px;
    height: auto;
}

/* HEADER */
header .col-6 div{
    height: 75px;
}

img{
    height: 100%;
}

/* MAIN */
.c-square{
    max-width: 850px;
    height: auto;
}

.sq-red3{
    width: calc(800px / 10);
    height: calc(800px / 10);
    background-color: red;
    border: 1px solid black;
}
.sq-red2{
    width: calc(800px / 9);
    height: calc(800px / 9);
    background-color: red;
    border: 1px solid black;
}
.sq-red1{
    width: calc(800px / 7);
    height: calc(800px / 7);
    background-color: red;
    border: 1px solid black;
}

.sq-aqua{
    background-color: aqua;
    color: black;
}
