*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.h-75px{
    height: 75px;
    background-color: #001534;
}

.c-square{
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* HEADER */
header .col-6 div{
    height: 75px;
}

img{
    height: 100%;
}

/* MAIN */
.sq{
    width: 50px;
    height: 50px;
    background-color: red;
    border: 1px solid black;
}

.sq-aqua{
    background-color: aqua;
    color: black;
}

.bomb{
    background-color: black;
    color: white;
}
